/* Variables */
:root {
	--main-bg-color: #e9ecff;
	--main-font-color: #333866;
	--main-highlight-color: #a2acff;
	--secondary-highlight-color: #ffbd50;
}

/* Document */
html {
	font-family: "Poppins", sans-serif;
	background-color: var(--main-bg-color);
}

h1,
h2 {
	color: var(--main-font-color);
}

h4 {
	color: var(--main-bg-color);
}

.container {
	display: flex;
	margin: 2rem;
	border-radius: 50px;
	background-color: white;
	flex-wrap: wrap;
}

/* Nav Section */
.nav {
	flex: 0;
	margin: 1.5rem;
}

.brand-icon {
	color: var(--secondary-highlight-color);
}

.brand-name {
	font-weight: 900;
	font-size: 30px;
	min-width: 220px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	text-decoration: none;
	border-radius: 4%;
	padding: 10px;
	margin: 1px;
	min-width: 100px;
	font-size: 15px;
}

li a:not(.active):hover {
	background-color: #e3e5f1;
}

.active {
	background-color: var(--main-bg-color);
}

.nav-icons {
	color: var(--main-highlight-color);
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: white;
}

/* Search */

.search {
	text-align: center;
	padding: 1rem;
}

.search-box {
	padding: 1rem;
	font-size: 20px;
}

/* Highlights Section */
.highlights {
	flex: 3;
	margin: 1rem;
	padding: 1rem;
	border-radius: 50px;
	background-color: var(--main-bg-color);
}

.highlights-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.highlights-container div {
	width: 300px;
	height: 200px;

	margin: 0.5rem;
	padding: 1rem;
	border-radius: 4%;
	background-color: white;
	color: var(--main-highlight-color);
}

/* Weather Section*/
.weather-segment {
	flex: 2;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.profile-segment {
	display: flex;
	justify-content: center;
	min-width: 200px;
}

.profile-image {
	width: 4rem;
	height: 4rem;
	padding: 0 10px;
}

.profile-icon {
	object-fit: cover;
	width: 100%;
	height: 100%;
	align-items: center;
}

.location-segment {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.location-segment h1,
.location-segment h2,
.location-segment h3 {
	padding: 0;
	margin: 0;
	transform: scale(0.7);
}

.current-day {
	margin: 0;
	text-align: center;
	font-size: 2rem;
}

.weather-div {
	display: flex;
	justify-content: center;
	text-align: center;
}

.weather-container {
	padding: 1rem;
}
.weather-icon {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--secondary-highlight-color);
}

.weather-highlights {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.ws-element {
	width: 150px;
}

.ws-icon {
	color: var(--main-highlight-color);
	background-color: var(--main-bg-color);
	border-radius: 0.5rem;
	padding: 0.5rem;
}
