html {
	font-family: "Poppins", sans-serif;
	background-color: #adb1cc;
}

h1,
h2 {
	color: #333866;
}

/* Main */
.brand-icon {
	color: #ffbd50;
}
.brand-name {
	font-weight: 900;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	text-decoration: none;
}

.active {
	background-color: #adb1cc;
	border-radius: 3%;
	padding: 1px 10px;
	color: white;
}

.nav-icons {
	color: #a2acff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: white;
}

.container {
	display: flex;
	margin: 2rem;
	border-radius: 4%;
	background-color: white;
}

/* Nav Section */
.nav {
	flex: 1;
	margin: 3rem;
}

/* Highlights Section */
.highlights {
	display: inline-block;
	flex: 3;
	margin: 1rem;
	padding: 5rem;
	border-radius: 4%;
	background-color: #adb1cc;
}

.highlights-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.highlights-container div {
	flex-basis: 45%;
	/* HARDCODED VALUE CHANGE */
	height: 13rem;
	margin: 1rem;
	border-radius: 4%;
	background-color: white;
}

/* Weather Segment Section */
.weather-segment {
	flex: 2;
	margin: 3rem;
}
